<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm Loại</title>
    <th:block th:replace="layout :: link-css "></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>

<div>
    <picture>
        <source srcset="https://media.gucci.com/content/HeroRegularStandard_1600x675/1683135029/HeroRegularStandard_Summer-stories-2023-02_001_Default.jpg" type="image/svg+xml">
        <img src="https://media.gucci.com/content/HeroRegularStandard_1600x675/1683135029/HeroRegularStandard_Summer-stories-2023-02_001_Default.jpg" class="img-fluid img-thumbnails" alt="...">
    </picture>
    <div class="giant-look-content-block-2">
        <h1 class="hero-title-3">Gucci Summer Stories</h1>
    </div>
</div>
<div class="container">
    <h1>Add Category</h1>
    <form th:action="@{/category/add}" th:object="${category}" method="post">
        <div class="col-6 mb-3">
            <label class="form-label" for="name">CategoryName: </label>
            <input class="form-control" type="text" th:field="*{categoryName}" id="name">
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </form>
    <br>
    <a th:href="@{/category}" class="btn btn-secondary">Back to list</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>