<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiến Loại</title>
    <th:block th:replace="layout :: link-css "></th:block>
</head>
<body>
    <th:block th:replace="layout :: header"></th:block>
    <div class="container">
        <table class="table">
            <tr>
                <th>id</th>
                <th>Tên Loại</th>
                <th>Chức Năng</th>
            </tr>
            <tr th:each="categoryItem : ${}">
                <td th:text="${categoryItem.id}"></td>
                <td th:text="${categoryItem.categoryName}"></td>
            </tr>
        </table>
    </div>

    <th:block th:replace="layout :: footer"></th:block>
</body>
</html>