<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Loại</title>
    <th:block th:replace="layout :: link-css "></th:block>
</head>
<body>
     <div>
         <th:block th:replace="layout :: header"></th:block>
     </div>

     <div>
         <picture>
             <source srcset="https://media.gucci.com/content/HeroRegularStandard_1600x675/1683135029/HeroRegularStandard_Summer-stories-2023-02_001_Default.jpg" type="image/svg+xml">
             <img src="https://media.gucci.com/content/HeroRegularStandard_1600x675/1683135029/HeroRegularStandard_Summer-stories-2023-02_001_Default.jpg" class="img-fluid img-thumbnails" alt="...">
         </picture>
         <div class="giant-look-content-block-2">
             <h1 class="hero-title-3">Gucci Summer Stories</h1>
         </div>
     </div>

    <div class="container">
        <div style="padding: 8px 0; display: flex; justify-content: flex-end">
            <a th:href="@{/category/add}" class="btn btn-primary active" >Create</a>
        </div>
        <table class="table table-dark table-hover">
            <tr>
                <th>id</th>
                <th>Tên Loại</th>
                <th>Chức Năng</th>
            </tr>
            <tr th:each="categoryItem : ${category}">
                <td th:text="${categoryItem.id}"></td>
                <td th:text="${categoryItem.categoryName}"></td>
                <td>
                    <a th:href="@{/category/edit/{id}(id=${categoryItem.id})}" class="btn btn-outline-success">Edit</a>
                    <a th:href="@{/category/delete/{id}(id=${categoryItem.id})}"
                       onclick="return confirm('Are you sure?')"
                       class="btn btn-outline-danger"
                    >
                       Delete
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <th:block th:replace="layout :: footer"></th:block>
</body>
</html>